version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      bash -c "
      poetry run alembic upgrade head &&
      poetry run uvicorn app.main:app --host 0.0.0.0 --port 11325 --reload
      "
    volumes:
      - .:/code
    ports:
      - '11325:11325'   # 호스트:컨테이너 (FastAPI)
    env_file:
      - .env
    depends_on:
      - db

  services:
    db:
      image: postgres:16
      restart: always
      environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: db
      ports:
        - "5432:5432"
      volumes:
        - ./data/postgres:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - '80:80'         # 웹 서비스용
      # - '443:443'     # SSL 사용 시 활성화
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/ssl/

volumes:
  mysql_data:
