version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      bash -c "
      echo '⏳ Waiting for database...' &&
      while ! nc -z db 5432; do sleep 1; done &&
      echo '✅ Database is up!' &&
      poetry run alembic upgrade head &&
      exec poetry run uvicorn app.main:app --host 0.0.0.0 --port 11325
      "
    volumes:
      - .:/code
    ports:
      - "11325:11325"
    depends_on:
      - db
    env_file:
      - .env




  db:
    image: postgres:16
    restart: always
    env_file:
      - .env.postgres
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - '80:80'         # 웹 서비스용
      # - '443:443'     # SSL 사용 시 활성화
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/ssl/

volumes:
  mysql_data:
